name: Security

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  node-security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: "20"
          cache: "npm"

      - name: Install
        run: npm ci

      - name: NPM audit (high+)
        run: npm audit --audit-level=high
