name: Security

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  node-security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: "20"
          cache: "npm"

      - name: Install
        run: npm ci

      - name: NPM audit (high+)
        run: npm audit --audit-level=high
